// MISC
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/niri/Screenshot_%Y-%m-%d %H-%M-%S.png"

config-notification {
    disable-failed
}

debug {
    honor-xdg-activation-with-invalid-serial
}

animations {}

hotkey-overlay {
    skip-at-startup
}

environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland;xcb"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
  DISPLAY ":0"
  TERMINAL "kitty"
  EDITOR "nvim"
}

overview {
    zoom 0.5
    workspace-shadow {
        off
    }
}

gestures {
    hot-corners { 
        off
    }
}

recent-windows {
    off
    debounce-ms 750

    open-delay-ms 150

    highlight {
        padding 30
        corner-radius 2
    }

    previews {
        max-height 320
        max-scale 0.35
    }

    binds {
        Alt+Tab         { next-window     scope="workspace"; }
        Alt+Shift+Tab   { previous-window scope="workspace"; }
        Alt+grave       { next-window     scope="workspace" filter="app-id"; }
        Alt+Shift+grave { previous-window scope="workspace" filter="app-id"; }
    }
}


