.zsh_history
.env
lazy-lock.json
.zcompdump
database
rmpc/.config/rmpc/lyrics/
gomp/.config/gomp/cache/
ncmpcpp/.config/ncmpcpp/lyrics/
tmux/.config/tmux/plugins/
yt-x/.config/yt-x/*.json
dunst/.config/dunst/dunstrc
