layout {
  cwd "~/DEV/PROJECTS/other_projects/metron-dev"
  tab name="NVIM" {
    pane command="zsh" {
      args "-c" "eval \"$(direnv export zsh)\" && nvim"
    }
    compact-bar size=1
  }
  tab name="django-server" {
    pane command="zsh" start_suspended=true {
      args "-c" "eval \"$(direnv export zsh)\" && python manage.py runserver"
    }
    compact-bar size=1
  }
  tab name="django-shell" {
    pane
    compact-bar size=1
  }
  pane_template name="compact-bar" {
      borderless true
      plugin location="compact-bar"
  }
}
