/* import pywal colors in .cache/wal/colors.css */
@import url("/home/allanabiud/.cache/wal/colors-waybar.css");

* {
  background-image: none;
  font-family: "JetBrains Mono NFM";
  font-size: 12px;
  font-weight: bold;
}

window {
  background-color: rgba(17, 17, 17, 0.9);
}

button {
  border-radius: 10px;
  border-width: 0px;
  border-style: solid;
  margin: 10px;
  color: @foreground;
  border-color: @background;
  background-color: @background;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  outline-style: none;
  text-shadow: none;
  box-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus,
button:active,
button:hover {
  background-color: @color1;
  background-size: 20%;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
  color: @background;
}

#lock {
  background-image: image(
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
