// @theme "/home/allanabiud/.config/rofi/themes/theme1.rasi"
@theme "/home/allanabiud/.config/rofi/themes/theme2.rasi"

configuration {
	modi: "drun,calc,run";
	display-drun: "Apps";
	display-window: "Windows";
	display-run: "Run";
  display-calc: "Calc";
	drun-display-format: "{icon} {name}";
	font: "JetBrainsMono Nerd Font 10";
	show-icons: true;
	icon-theme: "Colloid";
}
