// @theme "/home/allanabiud/.config/rofi/themes/theme1.rasi"
@theme "/home/allanabiud/.config/rofi/themes/theme2.rasi"

configuration {
	modi: "drun,run";
  display-drun: "";
  // display-filebrowser: "";
  display-run: "";
  // display-window: "";
	drun-display-format: "{name}";
	font: "JetBrainsMono Nerd Font 10";
	show-icons: true;
  window-format: "{w}{c} - {t}";
}
