// STARTUP PROGRAMS
include "modules/startup.kdl"

// COLORS
include "modules/colors-niri.kdl"

// INPUTS
include "modules/inputs.kdl"

// OUTPUTS
include "modules/outputs.kdl"

// LAYOUT
include "modules/layout.kdl"

// MISC
include "modules/misc.kdl"

// RULES
include "modules/rules.kdl"

// KEYBINDS
include "modules/keybinds.kdl"
